<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FitLife</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.jsp</welcome-file>

  </welcome-file-list>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>utilisateur.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ServletConsommation</servlet-name>
    <servlet-class>aliment.ServletConsommation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsommation</servlet-name>
    <url-pattern>/Consommation</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ServletSupprimerAliment</servlet-name>
    <servlet-class>aliment.ServletSupprimerAliment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupprimerAliment</servlet-name>
    <url-pattern>/SupprimerAliment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierAliment</servlet-name>
    <servlet-class>aliment.ServletModifierAliment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierAliment</servlet-name>
    <url-pattern>/ModifierAliment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMesAliments</servlet-name>
    <servlet-class>aliment.ServletMesAliments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMesAliments</servlet-name>
    <url-pattern>/MesAliments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>accueil.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletJournee</servlet-name>
    <servlet-class>journee.ServletJournee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletJournee</servlet-name>
    <url-pattern>/Journee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAjoutAliment</servlet-name>
    <servlet-class>aliment.ServletAjoutAliment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjoutAliment</servlet-name>
    <url-pattern>/AjoutAliment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMesJournees</servlet-name>
    <servlet-class>journee.ServletMesJournees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMesJournees</servlet-name>
    <url-pattern>/MesJournees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSeances</servlet-name>
    <servlet-class>seance.ServletSeances</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeances</servlet-name>
    <url-pattern>/Seances</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCreerSeance</servlet-name>
    <servlet-class>seance.ServletCreerSeance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreerSeance</servlet-name>
    <url-pattern>/CreerSeance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAjouterSeance</servlet-name>
    <servlet-class>seance.ServletAjouterSeance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjouterSeance</servlet-name>
    <url-pattern>/AjouterSeance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSeance</servlet-name>
    <servlet-class>seance.ServletSeance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSeance</servlet-name>
    <url-pattern>/Seance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierSeance</servlet-name>
    <servlet-class>seance.ServletModifierSeance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierSeance</servlet-name>
    <url-pattern>/ModifierSeance</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>ServletProfil</servlet-name>
    <servlet-class>utilisateur.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCompte</servlet-name>
    <servlet-class>utilisateur.ServletCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompte</servlet-name>
    <url-pattern>/Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierProfil</servlet-name>
    <servlet-class>utilisateur.ServletModifierProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierProfil</servlet-name>
    <url-pattern>/ModifierProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModifierCompte</servlet-name>
    <servlet-class>utilisateur.ServletModifierCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifierCompte</servlet-name>
    <url-pattern>/ModifierCompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>utilisateur.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInscription</servlet-name>
    <servlet-class>utilisateur.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <exception-type>java.sql.SQLException</exception-type>
    <location>/Error\\ErrorDB.jsp</location>
  </error-page>
  <error-page>
    <exception-type>com.sun.jersey.api.client.UniformInterfaceException</exception-type>
    <location>/Error\\ErrorDB.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ServletConnDB</servlet-name>
    <servlet-class>servlet.main.ServletConnDB</servlet-class>
    <init-param>
      <param-name>urlErreur</param-name>
      <param-value>/Error\\ErrorDB.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnDB</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  
    <session-config>
    <session-timeout>25</session-timeout> <!-- in minutes -->
  </session-config>
</web-app>